[Unit]
Description=Run tiny-agent.service on timer

[Timer]
OnBootSec=20s
OnUnitActiveSec=9s
Unit=tiny-agent.service

[Install]
WantedBy=timers.target
